<%- include("partials/header.ejs") %>

<nav id="NavBar">
    <a href="/home" class="nav-item">Home</a>
    <a href="/messages" class="nav-item">Messages</a>
    <a href="/support" class="nav-item">Support</a>
    <a href="/" class="nav-item">Sign Out</a>
</nav>

<h1 class="messageBanner">No New Messages</h1>

<%- include("partials/footer.ejs") %>